@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@500;900&family=Roboto:wght@400;900&display=swap');

.wrapper {
    min-height: 85dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
.signup {
    text-align: center;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    float: left;
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: column; /* 아이템을 세로로 배치 */
    justify-content: center; /* 아이템을 세로 방향으로 중앙 정렬 */
    align-items: center; /* 아이템을 가로 방향으로 중앙 정렬 */
}
div div.inout {
    text-align: left;
    padding-left: 20px;
}
div .info {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    font-size: 11pt;
}
#register_btn {
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#check_agree {
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 0px;
    font-size: 9pt;
    text-align: left;
}
/*===============footer===============*/
footer {
    clear: both;
    padding: 0;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
footer nav {
    margin-left: auto;
}
footer ul li {
    float: left;
    font-size: 10pt;
    margin: 0 0 0 0; /*기본 리스트 스타일의 margin을 제거 */
}
footer ul li a {
    text-decoration: none;
    color: black;
}
footer .no_dot {
    list-style: none;
    display: flex;
    gap: 20px /*각 리스트 간의 간격 조절*/
}
footer .no_dot li {
    margin: 0; /*기본 리스트 스타일의 margin을 제거 */
}
footer p, address {
    margin: 0 0 5px;
    font-size: 8pt;
}
/*=========================================*/