body {
    text-align: center;
}
#wrapper {
    width: 100%;
    text-align: left;
    min-height: 150px;
    margin: 0 auto;
}

.no_dot {
    list-style: none;
}

img {
    display: block; /* 이미지를 블록 요소로 설정 */
    margin-right: 10px; /* 이미지 오른쪽 여백 */
}

.dropmenu {
    border: none;
    padding: 0px;
}
.dropmenu ul {
    list-style: none;
}
.dropmenu li {
    float: left;
    padding: 0px;
}
.dropmenu li a {
    display: block;
    line-height: 50px;
    margin: 0px;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
}
.dropmenu li a:hover, .dropmenu ul li:hover a {
    background: lightgray;
    text-decoration: none;
}
.dropmenu li ul {
    border: 1px solid lightgray;
    background-color: white;
    display: none;
    height: auto;
    border: 0px;
    position: absolute;
    width: 50px;
    z-index: 200;
}
.dropmenu li:hover ul {
    display: block;
}
.dropmenu li li {
    border: 1px solid lightgray;
    background-color: white;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
}
.dropmenu li:hover li a {
    background: none;
}
.dropmenu li ul a {
    display: block;
    height: 50px;
    font-size: 14px;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
.dropmenu li ul a:hover, .dropmenu li ul li:hover a {
    border: 0px;
    text-decoration: none;
}
.dropmenu p {
    clear: left;
}
#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
}
/*===============header===============*/
header {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-item: center;
}
header h1 {
    flex-grow: 1;
}
header nav {
    margin-left: auto;
}
header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* 세로 가운데 절*/
    gap: 5px;
}
header ul li {
    float: left;
    margin-right: 20px;
    font-size: 11pt;
}
header a {
    text-decoration-line: none;
    color: black;
}
header a:visited {
    text-decoration-line: none;
}
header a:hover, a:focus {
    text-decoration-line: underline;
    text-decoration-color: #3c97bf;
}
header a:hover, a:active {
    text-decoration: none;
}
header h3 {
    margin: 0;
    display: flex;
    align-items: center;
}
header img {
    margin-right: 0px;
}
header p {
    text-align: left;
    font-size: 10pt;
}
/*=====================================*/

/*===============nav===============*/
nav {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}
nav ul {
    display: flex;
    align-items: center; /* 세로 가운데 절 */
    justify-content: center;
    font-size: 10pt;
    margin: 0 20px;
}
nav ul li {
    list-style: none;
}
nav a {
    text-decoration-line: none;
    border-right: 1px solid gray;
    color: black;
    padding: 0;
}
nav a:hover,
nav a:focus {
    text-decoration-line: underline;
}

nav a:hover,
nav a:active {
    text-decoration: none;
}
/*=====================================*/

/*===============section===============*/
.flex-container {
    display: flex;
    justify-content: center;
}
section {
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    min-height: 300px;
    min-width: 470px;
    border: 3px solid gray;
    flex-grow: 1;
}
article {
    border: 1px solid gray;
    margin-bottom: 10px;
    min-height: 100px;
}
/*=====================================*/

/*===============aside===============*/
.aside-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}
aside {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
aside#top {
    text-align: center;
}
aside ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 11pt;
}
aside ul li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
aside ul li a {
    text-decoration: none;
    color: black;
}
aside img#profile {
    display: block;
    margin: 0 10px 5px;
    border-radius: 50px;
    border: 1px solid black;
}
aside p#name {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 1px;
}
aside p#stnum {
    margin-bottom: 5px;
    font-size: 9pt;
    color: gray;
}
/*=====================================*/

/*===============footer===============*/
footer {
    clear: both;
    padding: 0;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
footer nav {
    margin-left: auto;
}
footer ul li {
    float: left;
    font-size: 10pt;
    margin: 0 0 0 0; /*기본 리스트 스타일의 margin을 제거 */
}
footer ul li a {
    text-decoration: none;
    color: black;
}
footer .no_dot {
    list-style: none;
    display: flex;
    gap: 20px /*각 리스트 간의 간격 조절*/
}
footer .no_dot li {
    margin: 0; /*기본 리스트 스타일의 margin을 제거 */
}
footer p, address {
    margin: 0 0 5px;
    font-size: 8pt;
}
/*=========================================*/